/models/charRec/charData4_stack_826.ckpt-5000.data-00000-of-00001
/models/charRec/charData4_stack_826.ckpt-5000.index
/models/charRec/charData4_stack_826.ckpt-5000.meta
/models/charRec/charData4_stack_826-5000.pb
/models/charRec/charData4_stack_830-8500.pb
/models/CTC_StackRec/CTC_2chars_all_new1-9000.data-00000-of-00001
/models/CTC_StackRec/CTC_2chars_all_new1-9000.index
/models/CTC_StackRec/CTC_2chars_all_new1-9000.meta
/models/CTC_StackRec/CTC_2chars_all_new1-9000.pb
/models/CTC_StackRec/CTC_2chars_all_new1-10500.pb
/models/CTC_StackRec/CTC_2chars_all_org-20000.pb
/models/CTC_StackRec/CTC_2num_alphabet_org-20000.pb
/models/CTC_StackRec/CTC_num2_11500_frezee_my.pb
/models/CTC_StackRec/CTC_num2_15500_frezee_my.pb
/models/CTC_StackRec/CTC_num2_15500_frezee_my_no_blur.pb
/models/CTC_StackRec/CTC_num2_16000_frezee_my_no_blur.pb
/models/CTC_StackRec/CTC_num2_16500_frezee_my_noSE.pb
/models/CTC_StackRec/CTC_num2_17000_frezee_my_noDWConv2_moudle.pb
/models/CTC_StackRec/CTC_num2_17000_frezee_my_noSE.pb
/models/CTC_StackRec/CTC_num2_21000_frezee_my_noDWConv_moudle.pb
/models/CTC_StackRec/CTC_num2_24500_frezee.pb
/models/CTC_StackRec/CTC_num2_40000_frezee_my.pb
/models/landmark/plateCornerDetFull3_90.h5
/models/landmark/plateCornerDetFull3_120.h5
/models/landmark/plateCornerDetFull90.h5
/models/landmark/plateCornerDetFull_all_relu90.h5
/models/landmark/plateCornerDetFull_no_agu30.h5
/models/landmark/plateCornerDetFull_no_agu90.h5
/models/plateRec/CGIM_rec_labelmap_voc.prototxt
/models/plateRec/solver_test.prototxt
/models/plateRec/my_labelmap_voc.prototxt
/models/plateRec/my_CGIM_loc_deploy25000.caffemodel
/models/plateRec/MobileNetSSD_deploy.prototxt
/models/plateRec/CGIM_rec_deploy.caffemodel
/models/plateRec/my_CGIM_loc_deploy25000.prototxt
/models/plateRec/CGIM_rec_deploy.prototxt
/models/plateRec/MobileNetSSD_test.prototxt
/models/plateRec/my_CGIM_loc_deploy5000.caffemodel
/models/plateRec/solver_train.prototxt
/models/plateRec/my_CGIM_loc_deploy5000.prototxt
/models/plateRec/MobileNetSSD_train.prototxt
/test_results/results/
/test_results/results_stack/
